@model HandyApp.Models.Customer



<form method="post" asp-action="DeletePost">

    <input asp-for="Id" hidden />

    <div class="container">
        <div class="form-row">
            <h1 style="margin-top: 21px;"> Delete Task </h1>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label><strong>Name :</strong></label><input input asp-for="Name" disabled type="text" class="form-control" style="width: 265px;" />
                <label><strong>Task :</strong></label><input input asp-for="Tasks" disabled type="text" class="form-control" style="width: 265px;" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12"><input class="btn btn-danger" type="submit" style="margin-top: 42px;" value="Delete"></div>
        </div>
    </div>
</form>